[Unit]
Description=Apache Hadoop YARN ResourceManager
After=network.target

[Service]
Type=forking
User={{ hadoop_user }}
Group={{ hadoop_group }}
ExecStart=/opt/hadoop-{{ hadoop_version }}/sbin/yarn-daemon.sh start resourcemanager
ExecStop=/opt/hadoop-{{ hadoop_version }}/sbin/yarn-daemon.sh stop resourcemanager
PIDFile=/tmp/hadoop-{{ hadoop_user }}-resourcemanager.pid

[Install]
WantedBy=multi-user.target
