[Unit]
Description=Spark Master
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
Type=forking
User={{ spark_user }}
Group={{ spark_group }}
ExecStart=/opt/spark-{{ spark_version }}-bin-hadoop2.7/sbin/start-master.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
